---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import About from '../components/About.jsx';
---

<Layout title="Jhonny - Portfolio">
	<!-- Opción 1: Azul oscuro más profundo -->
	<div class="min-h-screen bg-[#efe8ed]">
	  <Header client:load />
	  <main class="container mx-auto px-4">
		<!-- Contenido -->
		<About client:load />
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta tempora culpa error rem reiciendis cum corporis. Aliquam, non. Voluptatum dolorem ut laudantium provident nulla dolores illum doloribus adipisci nihil eveniet.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis dolor porro libero, consequuntur cupiditate vero laborum quis facilis, corrupti repellat recusandae ratione exercitationem dolorum molestias quos sapiente at quo nesciunt.
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit et optio omnis ad! Impedit vero sunt laborum dicta rem et praesentium dolore, alias maiores! Iste est nemo necessitatibus impedit natus!
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta tempora culpa error rem reiciendis cum corporis. Aliquam, non. Voluptatum dolorem ut laudantium provident nulla dolores illum doloribus adipisci nihil eveniet.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis dolor porro libero, consequuntur cupiditate vero laborum quis facilis, corrupti repellat recusandae ratione exercitationem dolorum molestias quos sapiente at quo nesciunt.
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit et optio omnis ad! Impedit vero sunt laborum dicta rem et praesentium dolore, alias maiores! Iste est nemo necessitatibus impedit natus!
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta tempora culpa error rem reiciendis cum corporis. Aliquam, non. Voluptatum dolorem ut laudantium provident nulla dolores illum doloribus adipisci nihil eveniet.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis dolor porro libero, consequuntur cupiditate vero laborum quis facilis, corrupti repellat recusandae ratione exercitationem dolorum molestias quos sapiente at quo nesciunt.
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit et optio omnis ad! Impedit vero sunt laborum dicta rem et praesentium dolore, alias maiores! Iste est nemo necessitatibus impedit natus!
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta tempora culpa error rem reiciendis cum corporis. Aliquam, non. Voluptatum dolorem ut laudantium provident nulla dolores illum doloribus adipisci nihil eveniet.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis dolor porro libero, consequuntur cupiditate vero laborum quis facilis, corrupti repellat recusandae ratione exercitationem dolorum molestias quos sapiente at quo nesciunt.
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit et optio omnis ad! Impedit vero sunt laborum dicta rem et praesentium dolore, alias maiores! Iste est nemo necessitatibus impedit natus!
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta tempora culpa error rem reiciendis cum corporis. Aliquam, non. Voluptatum dolorem ut laudantium provident nulla dolores illum doloribus adipisci nihil eveniet.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis dolor porro libero, consequuntur cupiditate vero laborum quis facilis, corrupti repellat recusandae ratione exercitationem dolorum molestias quos sapiente at quo nesciunt.
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit et optio omnis ad! Impedit vero sunt laborum dicta rem et praesentium dolore, alias maiores! Iste est nemo necessitatibus impedit natus!
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta tempora culpa error rem reiciendis cum corporis. Aliquam, non. Voluptatum dolorem ut laudantium provident nulla dolores illum doloribus adipisci nihil eveniet.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis dolor porro libero, consequuntur cupiditate vero laborum quis facilis, corrupti repellat recusandae ratione exercitationem dolorum molestias quos sapiente at quo nesciunt.
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit et optio omnis ad! Impedit vero sunt laborum dicta rem et praesentium dolore, alias maiores! Iste est nemo necessitatibus impedit natus!
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta tempora culpa error rem reiciendis cum corporis. Aliquam, non. Voluptatum dolorem ut laudantium provident nulla dolores illum doloribus adipisci nihil eveniet.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis dolor porro libero, consequuntur cupiditate vero laborum quis facilis, corrupti repellat recusandae ratione exercitationem dolorum molestias quos sapiente at quo nesciunt.
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit et optio omnis ad! Impedit vero sunt laborum dicta rem et praesentium dolore, alias maiores! Iste est nemo necessitatibus impedit natus!
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta tempora culpa error rem reiciendis cum corporis. Aliquam, non. Voluptatum dolorem ut laudantium provident nulla dolores illum doloribus adipisci nihil eveniet.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis dolor porro libero, consequuntur cupiditate vero laborum quis facilis, corrupti repellat recusandae ratione exercitationem dolorum molestias quos sapiente at quo nesciunt.
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit et optio omnis ad! Impedit vero sunt laborum dicta rem et praesentium dolore, alias maiores! Iste est nemo necessitatibus impedit natus!
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta tempora culpa error rem reiciendis cum corporis. Aliquam, non. Voluptatum dolorem ut laudantium provident nulla dolores illum doloribus adipisci nihil eveniet.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis dolor porro libero, consequuntur cupiditate vero laborum quis facilis, corrupti repellat recusandae ratione exercitationem dolorum molestias quos sapiente at quo nesciunt.
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit et optio omnis ad! Impedit vero sunt laborum dicta rem et praesentium dolore, alias maiores! Iste est nemo necessitatibus impedit natus!
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta tempora culpa error rem reiciendis cum corporis. Aliquam, non. Voluptatum dolorem ut laudantium provident nulla dolores illum doloribus adipisci nihil eveniet.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis dolor porro libero, consequuntur cupiditate vero laborum quis facilis, corrupti repellat recusandae ratione exercitationem dolorum molestias quos sapiente at quo nesciunt.
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit et optio omnis ad! Impedit vero sunt laborum dicta rem et praesentium dolore, alias maiores! Iste est nemo necessitatibus impedit natus!
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta tempora culpa error rem reiciendis cum corporis. Aliquam, non. Voluptatum dolorem ut laudantium provident nulla dolores illum doloribus adipisci nihil eveniet.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis dolor porro libero, consequuntur cupiditate vero laborum quis facilis, corrupti repellat recusandae ratione exercitationem dolorum molestias quos sapiente at quo nesciunt.
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit et optio omnis ad! Impedit vero sunt laborum dicta rem et praesentium dolore, alias maiores! Iste est nemo necessitatibus impedit natus!
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta tempora culpa error rem reiciendis cum corporis. Aliquam, non. Voluptatum dolorem ut laudantium provident nulla dolores illum doloribus adipisci nihil eveniet.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis dolor porro libero, consequuntur cupiditate vero laborum quis facilis, corrupti repellat recusandae ratione exercitationem dolorum molestias quos sapiente at quo nesciunt.
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit et optio omnis ad! Impedit vero sunt laborum dicta rem et praesentium dolore, alias maiores! Iste est nemo necessitatibus impedit natus!
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta tempora culpa error rem reiciendis cum corporis. Aliquam, non. Voluptatum dolorem ut laudantium provident nulla dolores illum doloribus adipisci nihil eveniet.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis dolor porro libero, consequuntur cupiditate vero laborum quis facilis, corrupti repellat recusandae ratione exercitationem dolorum molestias quos sapiente at quo nesciunt.
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit et optio omnis ad! Impedit vero sunt laborum dicta rem et praesentium dolore, alias maiores! Iste est nemo necessitatibus impedit natus!
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta tempora culpa error rem reiciendis cum corporis. Aliquam, non. Voluptatum dolorem ut laudantium provident nulla dolores illum doloribus adipisci nihil eveniet.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis dolor porro libero, consequuntur cupiditate vero laborum quis facilis, corrupti repellat recusandae ratione exercitationem dolorum molestias quos sapiente at quo nesciunt.
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit et optio omnis ad! Impedit vero sunt laborum dicta rem et praesentium dolore, alias maiores! Iste est nemo necessitatibus impedit natus!
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta tempora culpa error rem reiciendis cum corporis. Aliquam, non. Voluptatum dolorem ut laudantium provident nulla dolores illum doloribus adipisci nihil eveniet.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis dolor porro libero, consequuntur cupiditate vero laborum quis facilis, corrupti repellat recusandae ratione exercitationem dolorum molestias quos sapiente at quo nesciunt.
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit et optio omnis ad! Impedit vero sunt laborum dicta rem et praesentium dolore, alias maiores! Iste est nemo necessitatibus impedit natus!
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta tempora culpa error rem reiciendis cum corporis. Aliquam, non. Voluptatum dolorem ut laudantium provident nulla dolores illum doloribus adipisci nihil eveniet.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis dolor porro libero, consequuntur cupiditate vero laborum quis facilis, corrupti repellat recusandae ratione exercitationem dolorum molestias quos sapiente at quo nesciunt.
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit et optio omnis ad! Impedit vero sunt laborum dicta rem et praesentium dolore, alias maiores! Iste est nemo necessitatibus impedit natus!
		v
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta tempora culpa error rem reiciendis cum corporis. Aliquam, non. Voluptatum dolorem ut laudantium provident nulla dolores illum doloribus adipisci nihil eveniet.
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis dolor porro libero, consequuntur cupiditate vero laborum quis facilis, corrupti repellat recusandae ratione exercitationem dolorum molestias quos sapiente at quo nesciunt.
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit et optio omnis ad! Impedit vero sunt laborum dicta rem et praesentium dolore, alias maiores! Iste est nemo necessitatibus impedit natus!
		
	  </main>
	</div>
</Layout>