---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
---

<Layout title="Jhonny - Portfolio">
	<!-- Opción 1: Azul oscuro más profundo -->
	<div class="min-h-screen bg-[#0A192F]">
	  <Header client:load />
	  <main class="container mx-auto px-4">
		<!-- Contenido -->
	  </main>
	</div>
</Layout>